body{
    background-color:  rgb(171, 140, 172);
    font-family: 'Courier New', Courier, monospace;

}
h1{
    text-align: center;
    color: rgb(238, 218, 36);
}

.ej1{
    background-color:rgb(115, 7, 119) ;
    width: 100%;
    height: 3rem;
    padding-top: .5rem;
    padding-left: 45%;
    
    color: rgb(238, 218, 36);
}
.ej2{
    width: 100%;
    height: 3rem;
    padding-top: .5rem;
    padding-left: 50%; 
    color: rgb(238, 218, 36); 
}

a{
    text-decoration: none; 
    
}
.todo{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
button{
    background-color:  rgb(238, 218, 36);
    border: none;    
    padding: .5rem;
    text-align: center;    
    display: inline-block;
}
a.atras{
    color:rgb(115, 7, 119);
    text-decoration: none;
}